# [pandas前処理編] 第4章 解答
Copyright © 2022 田中裕行 All rights reserved.

## ■[問題1] ライブラリのインポートとアヤメのデータの読込
- pandasをpdという別名で、seabornをsnsという別名でインポートしてください。
- seabornのデータセットからアヤメ(iris)のデータを、irisという変数に読み込んでください。

In [11]:
# ライブラリのインポート
import pandas as pd
import seaborn as sns

# アヤメ(iris)のデータを読み込み
iris = sns.load_dataset('iris')

## ■[問題2] データの表示
- 変数irisに読み込んだデータの先頭5行を表示してください。

In [12]:
print(iris.head()) # headで先頭の5行を表示

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## ■[問題3] 要約統計量の表示
- 変数irisに読み込んだデータの要約統計量を表示してください。

In [13]:
# describeで各列の要約統計量を表示
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## ■[問題4] データの追加
- 変数df_aの末尾にG,H,Iという文字の行を追加して、変数df_bに代入してください。
- 変数df_bの内容を表示してください。

In [14]:
# このデータの末尾に新たなデータを追加
df_a = pd.DataFrame([['A','B','C'],['D','E','F']])

df_b = df_a.append([['G','H','I']])  # appendで行を追加
print(df_b)

   0  1  2
0  A  B  C
1  D  E  F
0  G  H  I

## ■[問題5] データの結合
- 変数df_aと変数df_bを横方向に連結し、変数df_cに代入してください。
- 変数df_cの内容を表示してください。

In [15]:
df_a = pd.DataFrame([['AA','BB','CC'],['DD','EE','FF']])
df_b = pd.DataFrame([['GG','HH','II'],['JJ','KK','LL']])
df_c = pd.concat([df_a, df_b], axis=1) # axis=1で横に連結
print(df_c)

    0   1   2   0   1   2
0  AA  BB  CC  GG  HH  II
1  DD  EE  FF  JJ  KK  LL

## ■[問題6] データの分割
- 変数irisの行数と列数を表示してください。
- 変数irisの行数の半分の値を計算して変数nに代入し、表示してください。
- 変数iris_trainに変数irisの前半半分を分割して代入してください。
- 変数iris_testに変数irisの後半半分を分割して代入してください。
- 変数iris_trainと変数iris_testの行数と列数をそれぞれ表示してください。

In [16]:
# 分割前のデータの確認
print('元データの行数と列数', iris.shape)
n = iris.shape[0] // 2 # 半分の値を計算(小数切り捨て)
print('半分の値', n)

# データを2つに分割
iris_train = iris.iloc[:n,:] # 前半半分を学習用データとして確保
iris_test  = iris.iloc[n:,:] # 後半半分を検証用データとして確保

# 分割後のデータの確認
print('学習用データの行数と列数', iris_train.shape)
print('検証用データの行数と列数', iris_test.shape)

元データの行数と列数 (150, 5)
半分の値 75
学習用データの行数と列数 (75, 5)
検証用データの行数と列数 (75, 5)

## ■[問題7] データの集計
- 野菜の売上データから種類別の合計と平均をそれぞれ表示してください。

In [17]:
# 野菜の売上データ
df = pd.DataFrame({
    'vegetable': ['cabbage','radish','cabbage','onion','radish','cabbage'],
    'price':     [     128 ,    285 ,     320 ,   168 ,    228 ,     265 ]})

print('野菜の種類別の合計', df.groupby(['vegetable']).sum())
print('野菜の種類別の平均', df.groupby(['vegetable']).mean())

野菜の種類別の合計            price
vegetable
cabbage      713
onion        168
radish       513
野菜の種類別の平均                 price
vegetable
cabbage    237.666667
onion      168.000000
radish     256.500000

## ■[問題8] データの加工1(欠損値の置換)
- 変数titanicに、seabornのデータセットからタイタニックのデータを読み込んでください。
- 変数ageに、変数titanicの年齢(age)の列データをコピーしてください。
- 変数ageの加工前の欠損値の個数を表示してください。
- 変数ageの年齢の最頻値を表示してください。
- 変数ageの欠損値を最頻値で置換してください。
- 変数ageの加工後の欠損値の個数を表示してください。

In [18]:
titanic = sns.load_dataset('titanic')
age = titanic['age'].copy() # 年齢のデータをコピー
print('欠損値の個数：', age.isnull().sum())
print('年齢の最頻値：', age.mode().iloc[0]) # 欠損値を除く最頻値の算出
age = df.fillna(age.mode().iloc[0])         # fillnaで欠損値(NaN)を最頻値で置換
print('欠損値の個数：', age.isnull().sum())

欠損値の個数： 177
年齢の最頻値： 24.0
欠損値の個数： vegetable    0
price        0
dtype: int64

## ■[問題9] データの加工2(非数値をダミー変数に変換)
- 変数clsに、変数titanicから階級(class)のデータをコピーしてください。
- 変数clsの変換前のデータを5行表示してください。
- 変数clsのダミー変数を5行表示してください。
- 変数clsをダミー変数に変換してください。
- 変数clsの変換後のデータを5行表示してください。

In [19]:
cls = titanic['class'].copy()     # 階級(cls)のデータをコピー
print(cls.head())                 # 変換前のデータを5行表示
print(pd.get_dummies(cls).head()) # ダミー変数を5行表示
cls = pd.get_dummies(cls)         # ダミー変数に変換
print(cls.head())                 # 変換後のデータを5行表示

0    Third
1    First
2    Third
3    First
4    Third
Name: class, dtype: category
Categories (3, object): ['First', 'Second', 'Third']
   First  Second  Third
0      0       0      1
1      1       0      0
2      0       0      1
3      1       0      0
4      0       0      1
   First  Second  Third
0      0       0      1
1      1       0      0
2      0       0      1
3      1       0      0
4      0       0      1

## ■[問題10] データの保存と読込
- 変数irisの内容をCSV形式で「iris.csv」というファイル名で、Googleドライブに保存してください。

In [20]:
# pandasのデータフレームをCSV形式でGoogleドライブに保存
from google.colab import drive 
drive.mount('/content/drive')
iris.to_csv('/content/drive/My Drive/iris.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).